.projects-main-container {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
    align-items: center;
}

.project-sub-container {    
    flex-basis: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.project-sub-container .project {
    width: 300px;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 2rem 0;

    background-color: white;
    color: var(--gunmetal);
    box-shadow: 0 4px 8px 0 var(--gunmetal), 0 6px 20px 0 var(--gunmetal);
}