.header-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-row h1 {
    font-family: "Garamond",serif;
    padding-top: .5rem;
    text-align: center;
    margin-left: auto
}

.header-row button {
    margin-left: auto;
}