a.resume-button {

    z-index: 8;

    height: 60px;
    width: 60px;

    background-color: var(--light-cyan);

    border-radius: 50%;

    position: absolute;
    top: 2%;
    right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: top 1s;
}

a.resume-button.bottom {
    top: 88%;
}

a.resume-button span {
    height: 100%;
    width: 100%;
    color: var(--gunmetal);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2.5rem;
}