.file-cabinet {
    display: flex;
    flex-direction: column;
    justify-content: center;

    list-style: none;
    padding: 0;
}

.file-item {
    border-top: solid 1px black;

    border-radius: 20px 20px 0 0;

    text-align: center;
    color: white;
}

.pp-menu-item {
    background-color: var(--pale-cerulean);
}
.ab-menu-item {
    background-color: var(--burnt-sienna);
}
.bp-menu-item {
    background-color: var(--bdazzled-blue);
}
.ct-menu-item {
    background-color: var(--gunmetal);
}