nav {
    height: 100%;
    overflow: hidden;
}

.file-cabinet {
    height: 100%;

    position: relative;

    list-style: none;
    padding: 0;
    margin: 0;
}

.file-cabinet-menu, 
.file-cabinet-page-header,
.file-item {
    position: absolute;
    width: 100%;
}

.file-cabinet-menu {
    top: 0;

    height: 8%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;

    z-index: 5;

    color: white;
    transition: color 600ms;
}

.file-cabinet-menu.menu-pressed {
    color: var(--gunmetal)
}

.file-cabinet-page-header {
    position: absolute;
    top: 8%;

    height: 8%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.file-cabinet-page-header h3 {
    margin: 0;
}

.menu-button-div {
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.file-cabinet-menu span {
    font-size: 2rem; 
}
.file-cabinet-menu h1 {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
}

.file-item {
    border-radius: 50px 50px 0 0;

    text-align: center;
    color: white;

    padding-top: 8vh;
    
    bottom: 0;

    transition: top 600ms, border-radius 600ms;
}

.file-item h3 {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;

    height: 8vh;
}

.bp-menu-item {
    background-color: var(--bdazzled-blue);
    top: 16%;
}
.pp-menu-item {
    background-color: var(--pale-cerulean);
    top: 37%;
}
.ab-menu-item {
    background-color: var(--burnt-sienna);
    top: 58%;
}
.ct-menu-item {
    background-color: var(--gunmetal);
    top: 79%;
}

.option-down {
    top: 100%;
}

.option-selected {
    top: 0%;
    border-radius: 0;
}

.component-container {
    opacity: 0;
    transition: opacity 1s;

    overflow-y: scroll;

    height: 92%;
}

.component-visible {
    opacity: 1;
}