.nav {
    margin-top: 2rem;
    justify-content: center;
}

.nav-item {
    flex-basis: 50%;

    padding-top: .5rem;
    padding-bottom: .5rem;

    display: flex;
    align-items: center;
}

.nav-item:nth-child(odd) {
    justify-content: flex-end;
    padding-right: .5rem;
}
.nav-item:nth-child(even) {
    justify-content: flex-start;
    padding-left: .5rem;
}
.nav-item:last-child {
    justify-content: center;
    padding: .5rem 0 0 0;
}

.nav-link {
    padding: 0;

    width: 125px;
    height: 125px;

    border: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link h3 {
    font-size: .75rem;

    text-align: center;
}